<app-header title='Mi Perfil'></app-header>

<ion-content>
    <ion-row padding class="container">
        <ion-col size="12">
            <ion-item>
                <ion-label><strong>UID:</strong></ion-label>
                <ion-label slot="end">U8347593475893</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><strong>Nombre:</strong></ion-label>
                <ion-label slot="end">Alan Lozano</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><strong>Apellido:</strong></ion-label>
                <ion-label slot="end">Lozano</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><strong>Teléfono:</strong></ion-label>
                <ion-label slot="end">8121074183</ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <h2>Funciones internas</h2>
            <ion-button>
                Solicitudes de contacto
            </ion-button>
            <ion-button>
                Administración del blog
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>

