<app-header title='¿Quienes Somos?'></app-header>

<ion-content>
      <ion-slides autoplay="10" loop="true" speed="300" pager="true" style="max-height: 40vh">
          <ion-slide>
            <div style="height: 100%; width: 100vw; background: url(/assets/images/organizadores-eventos.jpg) 50% 50%; background-size: cover">
              <ion-row class="d-box" style="height: 30vh" > 
                  <ion-col class="d-v-box">
                  <h2 class="text-hover-image">Evaluación de Objetivos</h2>
                </ion-col>
              </ion-row>
            </div>
          </ion-slide>
          <ion-slide>
            <div style="height: 100%; width: 100vw; background: url(/assets/images/eventos-industriales.jpg) 50% 50%; background-size: cover">
              <ion-row class="d-box" style="height: 30vh" > 
                  <ion-col class="d-v-box">
                  <h2 class="text-hover-image">Valuación Presupuestal</h2>
                </ion-col>
              </ion-row>
            </div>
          </ion-slide>

          <ion-slide>
              <div style="height: 100%; width: 100vw; background: url(/assets/images/eventos-b2b.jpg) 50% 50%; background-size: cover">
                <ion-row class="d-box" style="height: 30vh" > 
                  <ion-col class="d-v-box">
                    <h2 class="text-hover-image">Acuerdos y Alcances</h2>
                  </ion-col>
                </ion-row>
              </div>
            </ion-slide>
        </ion-slides>
        <ion-row padding>
          <ion-col size="12" text-center>
            <ion-card>
              <ion-card-content text-center>
                <h1 class="page-title" style="font-size: 40px" >Conoce a <strong class="page-t-b">Meeting</strong>&nbsp;<strong class="page-t-g">Marketing</strong></h1>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-content class="text-left" style="font-size: 20px" >
                En nuestro nombre adoptamos la palabra “Meeting” pues 
                de este anglicismo interpretamos lo que realmente es 
                “La Industria de Reuniones”  y “Marketing” del mismo idioma, 
                que engloba en su definición, la búsqueda de un retorno de la 
                inversión de los esfuerzos y la medición de todo ello.
                <br><br>
                Nuestros servicios se extienden hasta donde las necesidades de 
                nuestros clientes requieran, nuestra responsabilidad es entregar resultados.
                <br><br>
                Nuestra forma de trabajo se concentra en adaptar nuestro esfuerzo 
                con los lineamientos de cada empresa y proyecto, para maximizar el 
                retorno de inversión a través de planificación y gestión inteligentes.
                <br><br>
                Llevamos a cabo nuestra labor con una amplia visión; 
                con metodologías adaptables y tecnologías innovadoras logramos obtener
                resultados que superan siempre las expectativas de nuestros clientes.
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-sm="12" size-md="6" >
            <ion-card>
                <ion-item>
                  <ion-icon name="help" slot="start"></ion-icon>
                  <ion-label>¿Quienes Son?</ion-label>
                  <ion-button fill="outline" slot="end" hidden>View</ion-button>
                </ion-item>
              
                <ion-card-content>
                    Somos una empresa con base en Monterrey, N. L., 
                    dedicada a la planeación, organización y ejecución
                    de todo tipo de eventos y reuniones, con enfoque
                    especial al sector industrial/empresarial. <br>
                    Rubro en el que ayudamos a que nuestros clientes
                    obtengan el mayor aprovechamiento del esfuerzo
                    que están dispuestos a implementar en sus eventos.
                </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-sm="12" size-md="6">
            <ion-card>
                <ion-item>
                  <ion-icon name="hand" slot="start"></ion-icon>
                  <ion-label>¿Cual es su capacidad?</ion-label>
                  <ion-button fill="outline" slot="end" hidden>View</ion-button>
                </ion-item>
              
                <ion-card-content>
                    Estamos conformados por más de <strong>1,000 colaboradores</strong> 
                    en todo el país, 
                    <span class="page-title page-t-b">Meeting</span>&nbsp;
                    <span class="page-title page-t-g">Marketing</span> 
                    es una concentradora de soluciones, que satisface las necesidades 
                    de las industrias, en proyectos de toda envergadura.
                </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12">
              <ion-card>
                  <ion-item>
                    <ion-icon name="alert" slot="start"></ion-icon>
                    <ion-label>¿Qué los hace destacar?</ion-label>
                    <ion-button fill="outline" slot="end" hidden>View</ion-button>
                  </ion-item>
                
                  <ion-card-content>
                      Con equipo propio logramos rebasar el nivel de competencia actual, 
                      y principalmente esto nos asegura la perfecta ejecución de todos nuestros 
                      compromisos. Sabemos que cada uno de los miembros del capital humano que 
                      conforma 
                      <span class="page-title page-t-b">Meeting</span>&nbsp;
                      <span class="page-title page-t-g">Marketing</span>  entiende y aporta 
                      todo su conocimiento y experiencia <i>–y crece conforme avanzamos-</i> 
                      en el desarrollo de sus actividades, sensibles a los 
                      objetivos que previamente se trazan.
                  </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
</ion-content>
