<app-header title='Tipos de Meetings'></app-header>

<ion-content>

  <ion-card>
    <ion-card-content text-center>
      <h1 class="page-title" style="font-size: 40px" >Tipos de Meetings</h1>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content text-justify>
      En meeting Marketing conocemos el reto que representa organizar un 
      evento, debido a lo importante que puede llegar a ser y a su variada 
      naturaleza, hay que tener en mente los diferentes tipos que existen 
      pues todos ellos cumplen con una función en específico.
      <br><br>
      A continuación detallamos una lista con algunos de éstos, pues es 
      crucial conocer en qué se diferencian y en que te puede servir cada 
      uno de ellos.
    </ion-card-content>
  </ion-card>
</ion-content>
