<app-header title='Servicios'></app-header>

<ion-content fullscreen>
    <ion-row>
        <ion-col size="12">
            <ion-card>
                <ion-card-header>
                    <ion-card-title text-center>
                        <ion-label>Conoce nuestros servicios</ion-label>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Conocer a detalle todos los tipos de servicios y productos 
                    con los que se puede contar a la hora de planear y organizar 
                    cualquier actividad, te ayudará a ampliar el panorama de 
                    posibilidades y con ello se podrá tomar una decisión más acertada 
                    sobre el destino que se puede obtener con tu evento.
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
            <ion-card>
                <img src="/assets/images/servicios/audio-para-eventos.jpg"> 
                <ion-card-header>
                    <ion-card-title>Audio</ion-card-title>
                    <ion-card-subtitle>Construcción del evento</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                        Tenemos una amplia experiencia en audio, 
                        con lo que podemos garantizar un servicio 
                        a la altura de cualquier necesidad, adaptándonos 
                        a todo tipo de escenarios cubriendo en la totalidad 
                        el espacio auditivo del evento.
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
            <ion-card>
                <img src="/assets/images/servicios/desarrollo-estructural-en-aluminio-para-eventos.jpg"> 
                <ion-card-header>
                    <ion-card-title>Desarrollo Estructural en Aluminio</ion-card-title>
                    <ion-card-subtitle>Construcción del evento</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                        Crear una plataforma personalizada según tus 
                        necesidades, ayuda a intervenir de manera física 
                        tu evento además de suscitar el acercamiento con 
                        el público y transmitirle una experiencia única e 
                        innovadora.
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
            <ion-card>
                <img src="/assets/images/servicios/iluminacion-para-eventos.jpg"> 
                <ion-card-header>
                    <ion-card-title>Iluminación</ion-card-title>
                    <ion-card-subtitle>Construcción del evento</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                        Contamos con iluminación de calidad 
                        para una ambientación adecuada a cada 
                        tipo de evento, solucionando cualquier 
                        necesidad que se presente para desarrollar 
                        el óptimo entorno ambiental.
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
            <ion-card>
                    <img src="/assets/images/servicios/desarrollo-estructural-en-octanorm-para-eventos.jpg"> 
                <ion-card-header>
                    <ion-card-title>Octanorm</ion-card-title>
                    <ion-card-subtitle>Construcción del evento</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                        Perfiles de aluminio, conectores y accesorios diseñados 
                        para cubrir las necesidades de construcción del evento 
                        (decoración, exhibición, señalización, etc).
                        <br><br>
                        La flexibilidad que ofrece el Octanorm que en conjunto 
                        con otros materiales, garantiza que la implementación 
                        física de tus ideas puedan ser solucionadas con la calidad 
                        y eficacia que tu evento merece.
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
            <ion-card>
                <img src="/assets/images/servicios/pantalla-led-para-eventos.jpg">
                <ion-card-header>
                    <ion-card-title>Pantalla</ion-card-title>
                    <ion-card-subtitle>Construcción del evento</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Una de las mejores formas de hacer notar 
                    tu evento es con el uso de pantallas led, 
                    pueden desplegar cualquier formato de video 
                    y presentaciones, con tecnología de vanguardia, 
                    gran brillantez y calidad excepcional que acapara 
                    la atención de los asistentes.
                    <br><br>
                    Ofrecemos un servicio de pantallas de led 
                    el cual dependiendo de tus necesidades, se 
                    pueden adaptar para ofrecer desde un medio 
                    para una presentación, hasta un escenario 
                    multimedia que cautive la mirada de los presentes.
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12">
            <ion-card>
                <ion-card-header>
                    <ion-card-title text-center>
                        <strong>Si tiene duda, sobre que tipo de servicios o productos se pueden agregar, escríbenos, estamos para ayudarte para hacer de tu evento un momento memorable.</strong>
                    </ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>
  </ion-content>