@font-face {
  font-family: 'Keep Calm';
  src: url('/assets/fonts/KeepCalm-Medium.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'QuickSand';
  src: url('/assets/fonts/Quicksand_Book.otf');
  font-weight: 200;
  font-style: normal;
}