<app-header title=''></app-header>
  
  <ion-content>
  
  <ion-list padding>
      <ion-item>
        <h2 text-center>Inicio de Sesión</h2>
      </ion-item>
      <form padding>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input
            [(ngModel)]="user.email"
            name="email"
            type="text"
            autocapitalize="off"
            required
          >
          </ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            [(ngModel)]="user.password"
            name="password"
            type="password"
            required
          >
          </ion-input>
        </ion-item>
        <div padding text-center>
            <ion-button (click)="login()">
              Acceder
            </ion-button>
            <ion-button *ngIf="allowNewUser === true" (click)="signin()">
              Registrar
            </ion-button>
        </div>
      </form>
    </ion-list>
  </ion-content>