<app-header title='home'></app-header>

<ion-content>
    <ion-slides autoplay="3000" loop="true" speed="300" pager="true" >
      <ion-slide>
          <gl-background-video src="/assets/videos/o.mp4" style="height: 90vh">
          </gl-background-video>
          <ion-row style="z-index: 1;">
            <ion-col size="12" style="background: #0000005e; border-radius: 25px" padding>
                <ngx-typed-js 
                    [strings]="[
                      'Creamos Experiencias.', 
                      'Generamos Historias.', 
                      'Impactamos Vidas.', 
                      'Redefinimos la Industria.'
                      ]"
                    [typeSpeed]="70"
                    (completed)="getMenu()"
                    >
                    <h1 class="text-hover-image">Nosotros <br> <span class="typing page-t-b"></span></h1>
                </ngx-typed-js>
            </ion-col>
            <ion-col size="12">
              <ion-button color="primary"
                          class="wow flipInX" 
                          data-wow-delay="2s" 
                          size="large">
                Contactanos
                <ion-icon slot="end" name="mail-open" size="large"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
      </ion-slide>
    </ion-slides>
</ion-content>
