<app-header title='home'></app-header>

<ion-content>
    <ion-slides autoplay="3000" loop="true" speed="300" pager="true" >
      <ion-slide>
          <gl-background-video src="/assets/videos/o.mp4" style="height: 90vh">
          </gl-background-video>
      </ion-slide>
        <ion-slide>
          <div style="height: 90vh; width: 100vw; background: url(/assets/images/organizacion-eventos.jpeg) 50% 50%; background-size: cover">
            
            <ion-row padding class="d-box">
              <ion-col size="6" size-sm="12" class="d-v-box">
                <h1 style="color: #fff; text-shadow: 2px 2px 5px #202020">Organización de Eventos en México</h1>
              
                <ion-button routerLink="/contacto">
                  Contactanos
                </ion-button>
              </ion-col>
            </ion-row>
            
          </div>
        </ion-slide>
    </ion-slides>
</ion-content>
